html,
body 
  margin: 0;
  padding: 0;
  height: 100%;

body 
  background-color: #009688;

h1,
h2,
h3, 
  margin: 0;
  
  letter-spacing: 6px;
  font-family: $suranna;

p,
a,
  font-family: $roboto-regular;

li
  list-style: none

img
  width: 100%;

.title
  text-transform: uppercase;